.img-box {
    position: relative;
    width: 400px;
    margin: auto;
    margin-top: 20px;
}

.img-box img {
    width: 100%;
}

.img-box__message {
    text-align: center;
    font-size: clamp(1.1rem, 2vw, 2.5rem);
    color: rgba(255, 25, 125);
}